.custom-scrollbar {
    overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


/* A custom hiiden scrollbar */
.custom-hover-scrollbar {
    overflow-y: auto;
}

.custom-hover-scrollbar::-webkit-scrollbar:hover {
    visibility: hidden;
}

.custom-hover-scrollbar::-webkit-scrollbar {
    width: 3px;
    visibility: visible;
    background: transparent;
}

.custom-hover-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    visibility: hidden;
}

.custom-hover-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #888;
    visibility: visible;
}

.rti--container {
    align-items: center;
    border: 1px solid #999 !important;
    border-radius: 4px;
    min-height: 80px !important;
    align-items: start !important;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    line-height: 1.4;
    padding: 0.5rem;
}

.rti--container:focus-within {
    border-color: #247B7B !important;
    box-shadow: #247B7B 0px 0px 0px 1px !important;
}