.custom-scrollbar {
    overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


/* A custom hiiden scrollbar */
.custom-hover-scrollbar {
    overflow-y: auto;
}

.custom-hover-scrollbar::-webkit-scrollbar:hover {
    visibility: hidden;
}

.custom-hover-scrollbar::-webkit-scrollbar {
    width: 3px;
    visibility: visible;
    background: transparent;
}

.custom-hover-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    visibility: hidden;
}

.custom-hover-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #888;
    visibility: visible;
}